@import 'bootstrap';

.home-main {
    background-image: url("https://images.unsplash.com/photo-1624204386084-dd8c05e32226?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-card {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    min-height: 400px;
    min-width: 650px;
    background: rgba(45, 39, 38, 0.9);
    border-radius: 20px;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.home-buttons button:hover {
    transform: scale(1.1);
}

.footer {
    background: #584E4D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}