@import 'bootstrap';

.navigation-container {
    background: #2D2726;
}

.navigation-nav-link {
    font-family: 'Inter';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    padding: 0.5rem;
    display: flex;
    align-items: right;
}