/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.show-background {
    background-color: #2dc5f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-card {
    color: #2dc5f4;
    background: rgba(75, 64, 62, 0.9);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    min-height: 400px;
    min-width: 650px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.show-buttons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}





